.media:hover{
  color: white;
  scale: 1.1;
}

.scroll-to-top {
  position: relative;
}

.content-container {
  width: 5%; /* Adjust as needed */
  margin: 0 50px 10px auto;  /*Centers the content horizontally */
  padding: 20px;
  /* background-color:lightgreen; */
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .content-container {
    margin-left: auto; /* Automatically shift to right on larger screens */
  }

  .content-container{
    display: none;
  }

}
